---
const { image, caption, imageAlign } = Astro.props;
---

<div data-testid="custom-img" data-caption={caption} data-align={imageAlign}>
  <img src={image.url} alt={image.alternativeText || ''} />
</div>
